.about-container {
   display: flex;
   flex-direction: column;
   gap: 30px;
   
}


.about-story {
    width: 80%;
    min-height: 450px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.about-image {
    width: 100%;
    margin-top: 25px;
} 


.about-content {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.about-title {
    color: brown;
    border-bottom: 2px solid rgb(79, 18, 18);
}

.about-content p {
    color: brown;
}

