.history-music-boxes {
    padding: 20px;
    margin: 0 4%;
    color: brown;
    font-size: 1.1em;
    line-height: 1.6;
}

.history-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.history-block {
    margin-bottom: 30px;
    text-align: justify;
    border: 2px solid rgb(90, 45, 12);
    padding: 25px;
    border-radius: 25px;
}

.history-subtitle {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #5a2d0c; /* tono marrón más oscuro */
}

