.app-footer {
    display: grid;
    background-color: rgb(126, 59, 59);
    grid-template-columns: repeat(4, 15%);
    align-items: center;
    justify-content: center;
}

.social-media-text{
    margin-left: 10px;
    display: none;
}

.footer-link-container {
    display: flex;
    flex-direction: column;
    list-style: none;

}


.social-media-link-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.social-media-link-container a {
    display: flex;
    align-items: center;
    cursor: pointer;

}

#redes i {
    font-size: 35px;
    margin: 1vw;
}


.social-media-link {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    color: inherit;
}


.app-footer a {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.5s ease;
}

.app-footer a:hover {
    color: burlywood;
}



@media (max-width: 1400px) { 
    .social-media-text{
        display: block;
    }
    .social-media-link-container{
        display: block;
    }
    #redes i {
        font-size: 30px;
    }
    .app-footer {
        grid-template-columns: repeat(4, 25%);
    }
}

@media (max-width: 700px) { 
    #redes i {
        font-size: 35px;
    }
    .app-footer {
        grid-template-columns: repeat(2, 1fr);
    }
}