.purchase-card {
    height: auto;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    
}

.form-text-input {
    background-color: white;
    color: black;
}

.form-text-input:focus {
    outline: none;
}

.purchase-card p {
    color: brown;
}


.product-image {
    width: 100%;
} 


.purchase-form {
    display: flex;
    flex-direction: column;

}


.detail-section {
    background-color: brown;
    display: flex;
    align-items: center;
    padding: 5px 12px;
}


.dropdown-section{
    cursor: pointer;
}


.available-song {
    color: brown;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s ease;
}


.available-song:hover {
    opacity: 1;
}


.songs-container {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.8s ease, opacity 0.8s ease; 
}


.songs-container.open {
    max-height: 300px; /* o un valor suficientemente grande, ojo con esto al agregar más canciones a la base */
    opacity: 1;
}


.exit-button {
    width: 100%;
    background-color: red;
    text-align: center;
    display: none;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
}


.exit-button:hover {
    background-color: rgb(185, 16, 16);
}


@media screen and (max-width: 1010px) {

    .purchase-card {
        display: flex;
        flex-direction: column;
    }

    .exit-button {
        display: block;
    }

}


.form-dropdown {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}


.form-dropdown.open {
    max-height: 300px;
    opacity: 1;
}

.form-text-input {
    box-sizing: border-box;
    height: 60px;
    width: 80%;
    padding: 10px;
}

.form-image-input {
    height: 60px;
    cursor: pointer;
    color: brown;
}
