.content-wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.purchase-panel {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

.purchase-panel.open {
    background-color: white;
    visibility: visible;
    overflow-y: scroll;
    /* scrollbar-width: none; */
    border-radius: 15px;
    width: 60%;
    height: 80%;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 900px) { 
   .purchase-panel.open {
        width: 90%;
        height: 80%;
    } 
}

@media (max-width: 700px) { 
   .purchase-panel.open {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    } 

}

.loader-wrapper {
    display: none;
}

.loader-wrapper.show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.purchase-completed-message {
    padding-left: 15px;
    padding-right: 70px;
    border-radius: 0 0 0 18px;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    display: flex;
    gap: 70px;
    align-items: center;
    background-color: white;
    color: black;
    z-index: 15;
    transition: transform 0.5s ease;
}

.purchase-completed-message.show {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

/* .purchase-completed-message img {
    width: 20%;
    height: auto;
} */
